.inputtxt{
    border-radius: 10px;
    height: 30px;
    padding: 15px;
    color: white;
    font-size: 15px;
    font-family: 'Righteous';
    height: 50px;
    transition: 0.4s ease-in-out;
    background: rgba(255, 255, 255, 0.05);
	box-shadow: 0 10px 10px rgba(0, 0, 0, 0.2);
	border: 1px solid rgba(255, 255, 255, 0.1);
}
.inputtxt:hover{
    background-color: var(--tom);
    color: var(--fundo);
}
.inputtxt:hover::placeholder{
    color: var(--fundo);
}
.inputtxt::placeholder{
    color: white;
    font-size: 15px;
    font-family: 'Righteous';    
}
.inputtxt:focus{
    background-color: var(--tom);
    transform: scale(1.01);
    margin-left: 20px;
    margin-right: 20px;
    color: var(--fundo);
}
.inputmsg{
    border-radius: 10px;
    min-height: 125px;
    padding: 15px;
    color: white;
    font-size: 15px;
    font-family: 'Righteous';
    transition: 0.4s ease-in-out;
    background: rgba(255, 255, 255, 0.05);
	box-shadow: 0 10px 10px rgba(0, 0, 0, 0.2);
	border: 1px solid rgba(255, 255, 255, 0.1);
}
.inputmsg:hover{
    background-color: var(--tom);
    color: var(--fundo);
}
.inputmsg:hover::placeholder{
    color: var(--fundo);
}
.inputmsg::placeholder{
    color: white;
    font-size: 15px;
    font-family: 'Righteous';
}
.inputmsg:focus{
    background-color: var(--tom);
    transform: scale(1.01);
    margin-left: 20px;
    margin-right: 20px;
    color: var(--fundo);
}
.estiloformulario{
    display: flex;
    flex-direction: column;
    gap: 20px;  
    font-family: 'Righteous';
}
.sendbt{
	top: 0;
	left: 0;
	width: 100%;
	height: 50px;
	display: flex;
	justify-content: center;
	align-items: center;
	background: rgba(255, 255, 255, 0.05);
	box-shadow: 0 10px 10px rgba(0, 0, 0, 0.2);
	border: 1px solid var(--tom);
	border-radius: 10px;
	padding: 10px;
	letter-spacing: 4px;
	text-decoration: none;
	overflow: hidden;
    font-family: 'Righteous';
    font-size: 14px;
	color: #fff;
	font-weight: 400px;
	z-index: 1;
	transition: 0.5s;
	backdrop-filter: blur(15px);
    transition: 0.5 ease-in-out;
}
.sendbt:hover{
	background: var(--tom);
	padding: 10px;
	letter-spacing: 0px;
    font-family: 'Righteous';
	color: var(--fundo);
	font-weight: 400px;
	z-index: 1;
	transition: 0.5s;
    transform: scale(0.95);
    cursor: crosshair;
    
}
.sendbt:focus{
	background: var(--tom);
	padding: 10px;
	letter-spacing: 1px;
    font-family: 'Righteous';
	color: #ffffff;
	font-weight: 400px;
	z-index: 1;
	transition: 0.5s;
    transform: scale(0.9);
}