/*fonte-titulos*/
@import url('https://fonts.googleapis.com/css2?family=Righteous&display=swap');
/*fonte-textos*/
@import url('https://fonts.googleapis.com/css2?family=Open+Sans:wght@400;600&family=Righteous&display=swap');

* {
  margin:0;
  padding:0;
  box-sizing: border-box;
  transition: 0.5 ease-in-out;
}

:root {
  --max-width: 1100px;
  --border-radius: 12px;
  --font-mono: ui-monospace, Menlo, Monaco, 'Cascadia Mono', 'Segoe UI Mono',
    'Roboto Mono', 'Oxygen Mono', 'Ubuntu Monospace', 'Source Code Pro',
    'Fira Mono', 'Droid Sans Mono', 'Courier New', monospace;
    /* Cores em HSL */
  --hue-color: 200;
  --hue-acentua: calc(var(--hue-color) + 30);
  --hue-diminui: calc(var(--hue-color) - 30);
  --acentua: hsl(var(--hue-acentua), 50%, 80%);
  --diminui: hsl(var(--hue-diminui), 20%, 20%);
    /* HSL variaveis padrao */
  --clara: hsl(var(--hue-color), 50%, 70%);
  --tom: hsl(var(--hue-color), 100%, 50%);
  --padrao: hsl(var(--hue-color), 50%, 60%);
  --fundo: hsl(var(--hue-color), 50%, 20%);
  --fundomid: hsl(var(--hue-color), 60%, 30%);
   /* Sizes */
   --sizeicone: 20px;
}

html,
body {
  max-width: 100vw;
  overflow-x: hidden;
}

body {
  color: white;
  background: linear-gradient(135deg, var(--fundomid) 20%, var(--fundo) 80%);
  font-family: Righteous;
}

a {
  color: inherit;
  text-decoration: none;
}

@media (prefers-color-scheme: dark) {
  html {
    color-scheme: dark;
  }
}

h1 {
  position: relative;
}


.animado-titulo {
  font-size: 50px;
  font-weight: 600;
  color: var(--tom);
}

.animado-subtitulo {
  font-size: 20px;
  font-weight: 300;  
}
.animado-texto {
  font-family: 'Open Sans';
  font-size: 14px;
  font-weight: 400;
  max-width: 700px;  
}
.texto {
  font-family: 'Open Sans';
  font-size: 14px;
  font-weight: 400;
  max-width: 700px;
  position: relative;  
}
.flex {
  display: flex;
}
.centraliza {
  justify-content: center;
}

.chartdivforce {
  width: 100%;
  height: 100vh;
  position: fixed;
  top: 0;
}

.tela {
  display: flex;
  flex-direction: row;
  width: 100%;
  align-items: center;
  justify-content: space-between;
}
.esquerda {
  max-width: 45%;
  z-index: 5;
}
.direita {
  min-width: 40%;
  z-index: 2;
  transition: 0.5s;
  justify-content: center;
  align-items: center;
}

/* carrousel */

[class^="number-slide"],
[class*=" number-slide"] {
  background: grey;
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 40px;
  color: #fff;
  font-weight: 500;
  height: 100px;
  max-height: 100vh;
}

.number-slide1 {
  background: rgba( 255, 255, 255, 0.05 );
  backdrop-filter: blur( 10px );
}

.number-slide2 {
  background: rgba( 255, 255, 255, 0.05 );
  backdrop-filter: blur( 10px );
}

.number-slide3 {
  background: rgba( 255, 255, 255, 0.05 );
  backdrop-filter: blur( 10px );
}

.number-slide4 {
  background: rgba( 255, 255, 255, 0.05 );
  backdrop-filter: blur( 10px );
}

.number-slide5 {
  background: rgba( 255, 255, 255, 0.05 );
  backdrop-filter: blur( 10px );
}

.number-slide6 {
  background: rgba( 255, 255, 255, 0.05 );
  backdrop-filter: blur( 10px );
}

.wrappercarrousel {
  display: flex;
  z-index: 0;
  padding: 0px 40px 0px 40px;

}
.scenecarrousel {
  scale: 0.6;
  width: 260px;
  height: 200px;
  perspective: 1000px;
  position: relative;
}
.scenecarrousel .carousel.keen-slider {
  width: 100%;
  height: 100%;
  overflow: visible;
  position: absolute;
  transform: translateZ(-288px);
  transform-style: preserve-3d;
}
.carousel__cell {
  position: absolute;
  width: 240px;
  left: 10px;
  height: 200px;
  border: 1px solid rgba(0, 0, 0, 0.3);
}

/*slidephoto */

[class^="number-photo"],
[class*=" number-photo"] {
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 50px;
  color: #fff;
  font-weight: 500;
  height: 300px;
  width: 300px;
}

.number-photo1 {
  background-image: url("/imagens/portfolio/planoa01.png");
  background-repeat: no-repeat;
  background-size: contain;
}

.number-photo2 {
  background-image: url("/imagens/portfolio/layoutnova01.png");
  background-repeat: no-repeat;
  background-size: contain;
}

.number-photo3 {
  background-image: url("/imagens/portfolio/aroma02.png");
  background-repeat: no-repeat;
  background-size: contain;
}

.number-photo4 {
  background-image: url("/imagens/portfolio/aroma02.png");
  background-repeat: no-repeat;
  background-size: contain;
}

.number-photo5 {
  background-image: url("/imagens/portfolio/aroma02.png");
  background-repeat: no-repeat;
  background-size: contain;
}

.number-photo6 {
  background-image: url("/imagens/portfolio/aroma02.png");
  background-repeat: no-repeat;
  background-size: contain;
}
