.container{
    margin-left: 100px;
    padding: 30px;
    min-height: 100vh;
    justify-content: space-between;
    display: flex;
    flex-direction:column;
}

.alturaminima{
    display: flex;
    flex-direction: row;
    position: relative;
    align-content: center;
    justify-content: center;
}

.htopo{
    color: var(--clara);
    font-size: 16px;
    margin-left: -10px;
    margin-bottom: 3px;
    margin-top: 3px;
    font-family: 'La Belle Aurore';
    opacity: 0.6;
}


.hbottom{
    color: var(--clara);
    bottom: 0;
    font-size: 16px;
    margin-left: -10px;
    margin-bottom: 3px;
    margin-top: 3px;
    font-family: 'La Belle Aurore';
    opacity: 0.6;
}

@media (max-width: 700px) {
    .container {
        margin-left: 0;
    }
    .htopo:first-child{
        margin-top: 70px;
    }
    .hbottom:last-child{
        margin-bottom: 60px;
    }
}