.lista li {
    list-style: none;
    border-bottom: 1px solid rgba(255, 255, 255, 0.151);
    margin-top: 20px;
    margin-bottom: 20px;
    position: relative;
}

.coluna p {
    padding: 20px;
    background-color: rgba(0, 255, 255, 0.082);
    border-bottom: 1px solid black;
}

.formata{
    display: flex;
    flex-direction: row;
}
.coluna{
    display: flex;
    flex-direction: column;
    width: 100%;
}
.coluna:hover{
    display: flex;
    flex-direction: column;
    width: 100%;
}
.portfoliocomponente{

}
.portfoliocomponente:hover{
    transform: scale(1.1);    
}

.esquerdaportfolio {
    width: 50%;
  }

.telaportfolio {
    display: flex;
    flex-direction: row;
    width: 100%;
    gap: 5%;
    position: absolute;
    margin-top: -300px;
}

.stickycontainer{
    position: -webkit-sticky; /* apenas chrome e webkit nightly */
    position: sticky;
    top: 100px;
    margin-top: 180px;
    z-index: 0;
}
@media (max-width: 700px) {
    .telaportfolio {
        flex-direction: column;
    }
    .esquerdaportfolio {
        width: 100%;
        margin-bottom: 50px;
      }

}