.primeirografico{
    margin-bottom: 30px;
}

.segundografico{

}

.icone{
    width: 90px;
    height: 90px;
}
@media (max-width: 700px) {
    .primeirografico{
        margin: 30px;
    }       
    .segundografico{
        margin: 30px;
    }    
}