.primeirografico{
    background: rgba( 255, 255, 255, 0.05 );
    backdrop-filter: blur( 20px );
    padding: 20px;
    border-radius: 10px;
    z-index: 2;
}
.primeirografico:hover{
    z-index: 5;
}

.segundografico{
    background: rgba( 255, 255, 255, 0.05 );
    backdrop-filter: blur( 20px );
    padding: 20px;
    border-radius: 10px;
    z-index: 3;
}
